路径【D:\fy\sfj\sfj\sfj-provider-gw-50007\src\main\resources\mappers】
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jjkj.gw.main.mappers【点包名】.【Uname】Mapper">

    <!-- 基础字段查询结果返回 -->
    <resultMap id="BaseResultMap" type="java.util.LinkedHashMap">
    </resultMap>

    <!-- 扩展字段查询结果返回 -->
    <resultMap id="ExtendResultMap" type="java.util.LinkedHashMap">
    </resultMap>

    <!-- 表的基础字段  -->
    <sql id="Base_Column_List">
【select_column】
    </sql>

    <!-- 表的扩展字段 -->
    <sql id="Extend_Column_List">
    </sql>

    <!-- 外连接表 -->
    <sql id="Left_Join_Table">
    </sql>

    <!-- 按条件查询单条记录(基础查询)  -->
    <select id="selectOne" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        Select
        <include refid="Base_Column_List"/>
        From 【tableName】 as ta
        <!-- 删除标识 0:未删除；1：已删除 -->
        Where ta.is_history = 0
        And ta.id = #{id}
    </select>

    <!-- 按条件查询单条记录(扩展查询)  -->
    <select id="selectOneExtend" parameterType="java.util.HashMap" resultMap="ExtendResultMap">
        Select
        <include refid="Base_Column_List"/>
        <include refid="Extend_Column_List"/>
        From 【tableName】 as ta
        <include refid="Left_Join_Table"/>
        <!-- 删除标识 0:未删除；1：已删除 -->
        <where>
        AND ta.is_history = 0
        【selectWhere】
        </where>
    </select>

    <!-- 按条件查询列表(基础查询)  -->
    <select id="selectList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        Select
        <include refid="Base_Column_List"/>
        From 【tableName】 ta
        <where>
            AND ta.is_history = 0
            【selectWhere】

            <if test="null != startTime">
                <![CDATA[
            AND ta.create_time >= #{startTime}
            AND ta.create_time < #{endTime}
            ]]>
            </if>
        </where>
        Order by ta.create_time DESC
    </select>

    <!-- 按条件查询列表(扩展查询)  -->
    <select id="selectExtendList" parameterType="java.util.HashMap" resultMap="ExtendResultMap">
        Select
        <include refid="Base_Column_List"/>
        <include refid="Extend_Column_List"/>
        From 【tableName】 ta
        <include refid="Left_Join_Table"/>
        <where>
            AND ta.is_history = 0
            【selectWhere】
            <if test="null != startTime">
                <![CDATA[
            AND ta.create_time >= #{startTime}
            AND ta.create_time < #{endTime}
            ]]>
            </if>
        </where>
        Order by ta.create_time DESC
    </select>

    <!-- 添加单条数据  -->
    <insert id="insertRecord" parameterType="java.util.HashMap">
        Insert into 【tableName】
        (
        【base_column】
        )
        Values
        (
        【value_column】
        )
    </insert>

    <!-- 修改数据  -->
    <update id="updateRecord" parameterType="java.util.HashMap">
        Update 【tableName】
        <set>
【updateSet】

        </set>
        Where id = #{id}
    </update>

    <!-- 物理删除  -->
    <delete id="deletePhysics" parameterType="java.util.HashMap">
        Delete from 【tableName】
        <where>
            id = #{id}
        </where>
    </delete>

    <!-- 逻辑删除  -->
    <update id="deleteLogic" parameterType="java.util.HashMap">
        Update 【tableName】 ta
        Set ta.is_history = 1
        <where>
            【selectWhere】
        </where>
    </update>


</mapper>