<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsz.apply.base.mapper.【Uname】Mapper">
    <sql id="select_column">
【select_column】
    </sql>

    <!--插入-->
    <insert id="add【Uname】" parameterType="com.lsz.pojo.【Uname】">
        INSERT INTO 【tableName】
        (
        【base_column】
        )
        VALUES
        (
        【value_column】
        )
    </insert>


    <!--删除-->
    <delete id="delete【Uname】" parameterType="java.util.Map">
        DELETE FROM 【tableName】
        <where>
            <foreach collection="idsList" item="item" open="AND id IN(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </delete>

    <!--查询列表-->
    <select id="get【Uname】List" parameterType="java.util.Map" resultType="com.lsz.pojo.【Uname】">
        select
        <include refid="select_column"/>
        FROM 【tableName】 tar

        <where>
          【selectWhere】

            <if test="idsList != null">
                <foreach collection="idsList" item="id" open="AND tar.id IN(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="null != startTime">
                <![CDATA[
                    AND tar.create_time >= #{startTime}
                    AND tar.create_time < #{endTime}
                ]]>
            </if>
        </where>

    </select>

    <!--查询单个-->
    <select id="get【Uname】" parameterType="java.util.Map" resultType="com.lsz.pojo.【Uname】">
        select
        <include refid="select_column"/>
        from 【tableName】 tar
        <where>
            【selectWhere】
        </where>
    </select>

    <!--修改-->
    <update id="update【Uname】" parameterType="com.lsz.pojo.【Uname】">
        update 【tableName】
        <set>
【updateSet】
        </set>
        where id=#{id}
    </update>

    <delete id="updateByIds" parameterType="java.util.Map">
        update 【tableName】
        <set>
            ${key} = #{val}
        </set>
        <where>
            <foreach collection="idsList" item="id" open="AND id IN(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </delete>
</mapper>
