<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.lmdm.mapper.【Uname】Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yl.lmdm.entity.【Uname】">
        【resultMap】
    </resultMap>

    <resultMap id="【Uname】PageVO" type="com.yl.model.lmdm.vo.【Uname】VO" extends="BaseResultMap">
        <result column="country_name" property="countryDesc"/>

    </resultMap>

    <sql id="columns">
       【select_column】
    </sql>

    <sql id="listDetail">
        SELECT
        d2.`name` country_name,
        <include refid="columns"></include>
        FROM
        【tableName】 t
        LEFT JOIN sys_country d2 ON d2.id = t.country_id
    </sql>

    <select id="selectByPageVO" resultMap="【Uname】PageVO">
        <include refid="listDetail"></include>
        <where>
            <!--<if test="dto.name != null and dto.name != ''">-->
                <!--AND (-->
                <!--t.en_name LIKE CONCAT('%',#{dto.name},'%')-->
                <!--OR t.cn_name LIKE CONCAT('%',#{dto.name},'%')-->
                <!--OR t.name LIKE CONCAT('%',#{dto.name},'%')-->
                <!--)-->
            <!--</if>-->
            【selectWhere】
        </where>
    </select>

    <select id="getDetail" resultMap="【Uname】PageVO">
        <include refid="listDetail"></include>
        <where>
            <if test="id != null">
                AND t.id = #{id}
            </if>
            <if test="id == null">
                AND 1 = 2
            </if>
        </where>
    </select>

</mapper>
